* { margin: o;
    padding: 0;
    box-sizing: border-box;}

body {  display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;}

header{ display: flex;
        width: 60%;
        justify-content: space-between;
        align-items: center; }
  
#logo { width: 10%;
        height: 10%;}        

nav {   display: flex;
        justify-content: space-evenly;
        width: 70%;
         }
   
a {     text-decoration: none;
        font-size: larger;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }        

main {  display: flex;
        align-items: center;
        flex-direction: column;
        width: 60%;
        background-color: rgb(97, 44, 146);}  

 div {  display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
         }        
        
div img {   width: 30%;
            height: 30%;} 
  
div img:hover { filter: blur(5px);
                transition: 1s;} 
.foto:hover {   transform: scale(1.2);
                filter: none;}
   
 h1 {   color: rgb(145, 121, 168);
        font-style: oblique; }  

    